@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
@import url("./App.css");

:root {
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5;
  font-weight: 400;
  --mono: "Anonymous Pro", monospace;
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-secondary: "";
  overflow: hidden;
}

p {
  color: var(--light);
}

#root {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App {
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
}

input,
button {
  font-family: var(--font-primary);
  padding: 0.33rem;
}

input {
  background-color: var(--foreground);
  color: var(--light);
}

input:focus,
input:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--prime);
}

@media screen and (max-width: 1024px) {
  .scroll-wrapper {
    width: 100%;
    border: none;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .scroll-wrapper {
    top: 4rem;
    bottom: 4rem;
  }
  .messages-container {
    padding-left: 0rem;
    padding-right: 1rem;
    width: 100%;
  }
  .message-content:last-child {
  }
  .message-content {
    border-right: unset;
  }

  .app-title {
    margin-top: 1rem;
  }
  .menu-icon {
    font-size: 1.66rem;
  }
}
