@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

:root {
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5;
  font-weight: 400;
  --mono: "Anonymous Pro", monospace;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);

  background-color: #1f1f1f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* --foreground: #181818;
  --background: #1f1f1f;
  --light: rgba(255, 255, 255, 0.87);
  --prime: rgba(0, 255, 255, 0.666);
  --harsh: rgba(164, 22, 35, 1);
  --variant: rgba(240, 246, 0);
  --msg-field: black;
  --utils-bar: rgba(15, 15, 15, 0.9);
  --font-primary: "Anonymous Pro", monospace; */
  --font-secondary: "";
  overflow: hidden;
}

#root {
  height: 100%;
  text-align: center;
  background-color: var(--);
}

body {
  margin: 0;
  height: 100%;
}

input,
button {
  font-family: var(--font-primary);
  padding: 0.33rem;
}

input {
  background-color: var(--foreground);
  color: var(--light);
}

input:focus,
input:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--prime);
}

@media screen and (max-width: 1024px) {
  .scroll-wrapper {
    width: 100%;
    border: none;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .scroll-wrapper {
    top: 4rem;
    bottom: 4rem;
  }
  .messages-container {
    padding-left: 0rem;
    padding-right: 1rem;
    width: 100%;
  }
  .message-content:last-child {
  }
  .message-content {
    border-right: unset;
  }
  .datetime {
    font-size: 0.5rem;
  }
  .app-title {
    margin-top: 1rem;
  }
  .menu-icon {
    font-size: 1.66rem;
  }
}
