@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

:root {
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --prime-blue: rgba(0, 255, 255, 0.333);
}

input,
button {
  font-family: "Anonymous Pro", monospace;
}

input:focus,
input:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--prime-blue);
}

@media screen and (max-width: 1024px) {
  .scroll-wrapper {
    width: 100%;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .messages-container {
    padding-left: 1rem;
    padding-right: 0;
  }

  .message-content {
    border-right: unset;
  }
}
