.messages-loading {
  margin-top: 50%;
}

.scroll-wrapper {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
  border-left: 1px solid white;
  border-right: 1px solid white;
  left: 50%;
  transform: translateX(-50%);
  width: 66vw;
  box-shadow: inset 0px 0.33rem 21px 1px rgba(0, 0, 0, 0.4);
  z-index: 0;
  margin: 0 auto;
  top: 3rem;
  bottom: 4rem;
  background-color: var(--background);
  color: var(--light);
}

.messages-container {
  font-size: var(--base-font-size);
  word-break: break-all;
  text-align: left;
  width: 90%;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: var(--font-primary);
}

.message-username::before {
  content: ":::[";
  color: var(--prime);
}

.message-username::after {
  content: "]";
  color: var(--prime);
}

.message-content {
  border-top: 1px solid rgba(20, 20, 20, 0.9);
  padding: 0.66rem 0.33rem;
  border-radius: 0 7% 0 0;
  margin: 1rem 1rem 0.33rem;
  box-shadow: 5px -5px 21px 1px rgba(25, 25, 25, 0.01);
  border-radius: 6px;
  word-break: keep-all;
}

.message-content:hover > .name-and-date {
  mix-blend-mode: screen;
  transform: scale(1.006);
  opacity: 1;
}

.message-content:first-child {
  margin-top: 1rem;
}

.message-content:last-child {
  margin-bottom: 2rem;
}

.message-username,
.datetime {
  cursor: pointer;
  font-size: 0.66em;
}
.datetime {
  margin-left: auto;
  margin-right: 0;
}

.message-text::before {
  content: "";
}

.message-text {
  padding-left: 2rem;
  margin-right: auto;
}

.name-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.66rem auto;
  height: 1rem;
  opacity: 0.66;
}

.time-at {
  margin: 0 0.33rem;
  color: var(--prime);
}

.error-box {
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.33rem;
  color: wheat;
  bottom: 100%;
}

.chat-form {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 2rem;
  left: 0;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}

.chat-msg-field {
  height: 2.66rem;
  width: 100%;
  padding-left: 2rem;
  font-size: 1.66em;
  border-radius: 0 3px 0 0;
  caret-color: var(--prime);
  margin-bottom: -0.33rem;
  z-index: 3;
  background-color: var(--msg-field);
}

.chat-msg-field::placeholder {
  text-align: center;
  color: var(--prime);
}
.chat-msg-field:focus,
.chat-msg-field:active {
  outline: 1px solid var(--prime);
  color: var(--light);
}

.msg-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.33rem;
  border-radius: 9px;
  background-color: black;
  color: rgba(255, 255, 255, 0.874);
}
